<template>
  <GridLayout
    class="navBottom"
    height="50"
    width="100%"
    row="3"
    rows="auto"
    columns="auto,auto"
  >
    <GridLayout
      :class="selectedTab == 0 ? 'active' : ''"
      @tap="home"
      rows="*,auto"
      cols="auto"
      class="nav"
      col="0"
      row="0"
      width="50%"
    >
      <Image
        :class="selectedTab == 0 ? 'active' : ''"
        row="0"
        class="navIcon"
        :src="
          selectedTab == 0
            ? '~/assets/images/navhomem.png'
            : '~/assets/images/navhome.png'
        "
      />
      <Label
        row="1"
        v-show="selectedTab == 0"
        text="Home"
        class="navText"
      ></Label>
    </GridLayout>

    <GridLayout
      :class="selectedTab == 1 ? 'active' : ''"
      @tap="about"
      rows="*,auto"
      cols="auto"
      class="nav"
      col="3"
      row="0"
      width="50%"
    >
      <Image
        :class="selectedTab == 1 ? 'active' : ''"
        row="0"
        class="navIcon"
        :src="
          selectedTab == 1
            ? '~/assets/images/navusm.png'
            : '~/assets/images/navus.png'
        "
      />
      <Label
        row="1"
        v-show="selectedTab == 1"
        text="About"
        class="navText"
      ></Label>
    </GridLayout>
  </GridLayout>
</template>
<script>
import Home from '~/screens/Home.vue'
import AboutUs from '~/screens/AboutUs.vue'

export default {
  components: {
    Home,
    AboutUs,
  },
  data() {
    return {
      selectedTab: 1,
    }
  },
  methods: {
    home() {
      if (this.selectedTab == 0) {
        return
      }
      this.selectedTab = 0
      this.$navigateTo(Home, {
        clearHistory: true,
      })
    },
    about() {
      if (this.selectedTab == 1) {
        return
      }
      this.$navigateTo(AboutUs, {
        clearHistory: true,
      })
      this.selectedTab = 1
    },
  },
}
</script>

<style>
.navBottom {
  background-color: #f4f4f4;
  border-color: red;
}

.nav {
  height: 100%;
  width: 100%;
}

.nav.active {
  background-color: #0dc43776;
}

.navIcon {
  horizontal-align: center;
  vertical-align: center;
  height: 25;
}

.navIcon.active {
  vertical-align: bottom;
}

.navText {
  margin-bottom: 2;
  font-size: 12;
  /* color: #c43776; */
  color: #d62526;
  horizontal-align: center;
}
</style>
