<template>
  <GridLayout rows="*, auto">
    <StackLayout class="form" row="0">
      <Image class="logo" src="~/assets/images/logo.jpg" />

      <StackLayout class="input-field">
        <TextField
          class="input"
          hint="Phone Number"
          keyboardType="phone"
          autocorrect="false"
          autocapitalizationType="none"
          v-model="user.phoneNumber"
          returnKeyType="next"
          @returnPress="focusPassword()"
        ></TextField>
      </StackLayout>
      <StackLayout class="input-field">
        <TextField
          ref="password"
          id="password"
          class="input"
          hint="Password"
          secure="true"
          v-model="user.password"
          returnKeyType="done"
        ></TextField>
      </StackLayout>

      <Button
        text="Login"
        @tap="submit()"
        class="btn btn-primary m-t-20"
        :isEnabled="!loading"
      ></Button>

      <Label
        text="Forgot your password?"
        class="login-label"
        @tap="forgotPassword()"
      ></Label>
    </StackLayout>
    <ActivityIndicator rowSpan="3" :busy="loading"></ActivityIndicator>
  </GridLayout>
</template>

<script>
import { isIOS } from 'tns-core-modules/platform'
import { topmost } from 'ui/frame'
import axios from '~/plugins/axios'
import Home from '~/screens/Home'

export default {
  componenets: {
    Home,
  },
  data() {
    return {
      user: {
        phoneNumber: '0397988668',
        password: '123456a@A',
      },
      loading: false,
    }
  },
  created() {},
  methods: {
    submit() {
      if (!this.user.phoneNumber || !this.user.password) {
        this.alert('Please provide both an phone number and password.')
        return
      }

      this.login()
    },
    login() {
      var self = this
      this.loading = true
      this.$store
        .dispatch('auth/login', {
          user: this.user,
        })
        .then(() => {
          self.loading = false
          self.$navigateTo(Home, {
            clearHistory: true,
          })
        })
        .catch((e) => {
          alert({
            title: 'Login failed',
            okButtonText: 'OK',
            message: e.message,
          })
        })
    },
    forgotPassword() {
      prompt({
        title: 'Forgot Password',
        message: 'Enter the phone number you used to reset your password.',
        inputType: 'phone',
        defaultText: '',
        okButtonText: 'Ok',
        cancelButtonText: 'Cancel',
      }).then((data) => {
        if (data.result) {
          console.log(data.result)
        }
      })
    },
    focusPassword() {
      this.$refs.password.nativeView.focus()
    },
    alert(message) {
      return alert({
        title: 'Vmodev',
        okButtonText: 'OK',
        message: message,
      })
    },
  },
}
</script>

<style>
.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.input-field {
  margin-bottom: 25;
}
.input {
  font-size: 18;
}

.btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background-color: #2196f3;
  color: white;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.login-label {
  margin-top: 20;
  color: #a8a8a8;
  font-size: 16;
  text-align: center;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: #000000;
}
</style>
