<template>
  <GridLayout rows="*, auto *, 50">
    <Image
      src="~/assets/images/background_profile.jpeg"
      rowSpan="5"
      iosOverflowSafeArea="true"
      stretch="aspectFill"
    ></Image>

    <StackLayout row="1" class="profile">
      <Image
        class="avatar"
        :src="imagePath"
        width="200"
        height="200"
        stretch="aspectFill"
        borderRadius="100"
      />

      <Label :text="name" class="name text"></Label>
      <Label :text="'Phone Number: ' + user.phoneNumber" class="text"></Label>
      <Label :text="'Gender: ' + startCase(user.gender)" class="text"></Label>
      <Label :text="'Role: ' + startCase(user.role)" class="text"></Label>
      <Label
        :text="'Last login: ' + convertDate(user.lastLogin)"
        class="text"
      ></Label>
      <Button text="Logout" class="btn" @tap="onLogout()"></Button>
    </StackLayout>
  </GridLayout>
</template>

<script>
import { mapState } from 'vuex'
// import NavButton from '~/components/Shared/NavButton'
import Login from '~/screens/Login.vue'
import { upperCase as _upperCase, startCase as _startCase } from 'lodash'
export default {
  components: {
    // NavButton,
    Login,
  },
  computed: {
    ...mapState('auth', {
      user: (state) => state.user,
    }),
    imagePath() {
      return (
        'https://api.angkorpass.vmo.group/angkorpass-staging/' +
        this.user.avatar
      )
    },
    name() {
      return this.user.firstName + ' ' + this.user.lastName
    },
  },
  methods: {
    onLogout() {
      var self = this
      this.$store.dispatch('auth/logout').then(() => {
        self.$navigateTo(Login, {
          clearHistory: true,
        })
      })
    },
    upperCase(string) {
      return _upperCase(string)
    },
    startCase(string) {
      return _startCase(string)
    },
    convertDate(date) {
      return new Date(date).toDateString()
    },
  },
}
</script>

<style lang="scss" scoped>
ActionBar {
  background-color: transparent;
}
.profile {
  margin-top: 30;
  flex-grow: 2;
  text-align: center;
  justify-content: center;
  .avatar {
  }
  .name {
    font-weight: bold;
    margin-top: 30;
    font-size: 42;
  }
  .text {
    margin-top: 10;
    font-size: 20;
    color: white;
  }
}
.btn {
  margin-top: 20;
}
</style>
