<template>
  <Page class="page" actionBarHidden="true">
    <GridLayout rows="*,  50">
      <ScrollView ref="scrollView">
        <StackLayout>
          <StackLayout
            ref="topView"
            height="250"
            style="background-image: url('~/assets/images/vmodev_image.jpeg'); background-repeat: no-repeat; background-position: center; background-size: cover;"
          >
          </StackLayout>
          <StackLayout width="100%" backgroundColor="white" padding="10">
            <!--Add your page content here-->
            <Label
              textWrap="true"
              text="Who We Are"
              class="h2 description-label"
            />
            <Label
              textWrap="true"
              class="p-10 paragraph"
              text="Established in 2012, VMODEV is a trusted IT outsourcing company based in Hanoi, Vietnam with 100+ headcounts and over 20 projects currently running.
Over the last 7 years, we have successfully partnered with a various array of clients across industries. Startups & Innovation, Business Automation, E-Commerce, E-Health, E-Government, E-Learning, Financial Technology, are a few of the example sectors."
            />

            <Label
              textWrap="true"
              text="Our Visions"
              class="h2 description-label"
            />
            <Label
              textWrap="true"
              class="p-10 paragraph"
              text="We always aim to constantly scale up our operation size to become more productive in each individual project. We also strive to gather vast knowledge about business processes, culture, vision and goals across the industry segments to bring out the most innovative solutions in every business and technology domain."
            />

            <Label
              textWrap="true"
              text="CEO statement"
              class="h2 description-label"
            />
            <Label
              textWrap="true"
              class="p-10 paragraph"
              text="VMODEV was founded in 2012 by a group of people who are passionate about technology and want to dedicatedly bring practical values to society. With young and enthusiastic employees, we always want to accompany clients to create and develop high quality products for users.

Over many years of construction and continuous innovation, we understand that the development of VMODEV has today is thanks to the practical values we provide to, and the satisfaction and trust we receive from our clients.

To the clients, we put their benefits first. With the transparency and dedication that VMODEV has built over years, we always take the highest responsibility and commitment for every product we make.

To our staff, internally, we have been the place where every member can freely express themselves, find their passion and creativity and develop. Sharing and listening are the principles in creating a professional and fair working environment, thereby creating practical values for each employee and the cohesive team of VMODEV.

These core values have been, and will always be the guideline that helps us constantly perfect, improve professional skills and update new technologies to bring the highest efficiency in terms of cost and time to clients."
            />
          </StackLayout>
        </StackLayout>
      </ScrollView>

      <NavButton />
    </GridLayout>
  </Page>
</template>

<script>
import NavButton from '~/components/Shared/NavButton'

export default {
  components: {
    NavButton,
  },
}
</script>

<style lang="scss" scoped>
.description-lael {
  font-size: 34;
  line-height: 22;
  font-weight: bold;
}
.paragraph {
  font-size: 18;
  line-height: 12;
}
</style>
