<template>
  <Page actionBarHidden="true">
    <RadSideDrawer ref="drawer">
      <StackLayout ~drawerContent backgroundColor="white">
        <StackLayout
          height="56"
          style="text-align: center; vertical-align: center;"
        >
          <Label text="Navigation Menu" />
        </StackLayout>
        <StackLayout>
          <Label text="My Profile" padding="10" backgroundColor="lightgray" />
          <Label text="About us" padding="10" @tap="onChangeToAboutUs" />
        </StackLayout>
        <Label
          text="Logout"
          padding="10"
          style="horizontal-align: center"
          @tap="onLogout"
        />
      </StackLayout>
      <Frame ~mainContent id="mainContent">
        <Page>
          <ActionBar title="My Profile" class="actionBar">
            <NavigationButton
              android.systemIcon="ic_menu"
              @tap="onNavigationButtonTap"
            ></NavigationButton>
          </ActionBar>

          <Profile></Profile>
        </Page>
      </Frame>
    </RadSideDrawer>
  </Page>
</template>

<script>
import Vue from 'nativescript-vue'
import RadSideDrawer from 'nativescript-ui-sidedrawer/vue'
import Profile from '~/components/Home/Profile.vue'
import Login from '~/screens/Login.vue'
import AboutUs from '~/screens/AboutUs.vue'
Vue.use(RadSideDrawer)

export default {
  components: {
    Profile,
    Login,
    AboutUs,
  },

  methods: {
    onNavigationButtonTap() {
      this.$refs.drawer.nativeView.showDrawer()
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer()
    },
    onLogout() {
      var self = this
      this.$store.dispatch('auth/logout').then(() => {
        self.$navigateTo(Login, {
          clearHistory: true,
        })
      })
    },
    onChangeToAboutUs() {
      this.$navigateTo(AboutUs, {
        clearHistory: true,
      })
    },
  },
}
</script>

<style scoped>
.actionBar {
  background-color: whitesmoke;
  color: black;
}
</style>
