<template>
  <Page class="page" actionBarHidden="true">
    <Form></Form>
  </Page>
</template>
<script>
import Form from '~/components/Login/Form.vue'

export default {
  name: 'Login',
  components: {
    Form,
  },
}
</script>

<style>
.page {
  align-items: center;
  flex-direction: column;
}
</style>
